#
# gitignore
#

*~

# Compiled Object files
*.slo
*.lo
*.o

**/resources.c
**/*.tgz
**/*.gz
**/*.zip
**/*.bak
**/*.trc
**/*.log
**/cmp_time.*
\#*\#

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
*.ao

exe/*.cfg.*
exe/auto_tasks
exe/balance
exe/bancali
exe/barcode
exe/bilancia
exe/carichi
exe/check_bancali
exe/display
exe/edit
exe/ev2002
exe/gschemas.compiled
exe/ios
exe/main
exe/monitor
exe/peso
exe/printlabel
exe/readshm
exe/receive
exe/settori
exe/setup
exe/template
exe/test
exe/volum
exe/writeshm
exe/fine_linea
exe/receive-rcs
exe/socket_server
exe/dbf2sql
exe/shm_db_sync
!backup/tabelle_produzione.dump.gz
scripts/crea_tabelle.out
exe/*.exe
exe/org.easy-picking.*.gschema.valid
