[Desktop Entry]
Type=Application
Name=Gestione Pesatura
Icon=/usr/share/easy-picking/images/easy-picking-main.svg
Exec=sh -c "cd /opt/easy-picking/bin; ./main"
Terminal=false
