[Desktop Entry]
Type=Application
Name=Gestione Equilibratura
Icon=/usr/share/easy-picking/images/easy-picking-balance.svg
Exec=sh -c "cd /opt/easy-picking/bin; ./balance"
Terminal=false
